---
// 导入必要的组件
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import bridgeImage from "@images/Seto-Great-Bridge-Inland-Sea-Kojima-Honshu.jpg";
import faqs from "@data/zh/faqs.json";
import features from "@data/zh/features.json";
import pricing from "@data/zh/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { getRelativeLocaleUrl } from 'astro:i18n';

const avatarSrcs: Array<string> = [
  "@images/成员照片/苟凌云-生活照.jpg",
  "@images/成员照片/苟凌云-生活照.jpg",
  "@images/成员照片/苟凌云-生活照.jpg",
  "@images/成员照片/苟凌云-生活照.jpg",
];
---

<MainLayout lang="zh">
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="查看我们的研究兴趣"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`欢迎来到 <span class="text-yellow-500 dark:text-yellow-400">叶爱君</span> 课题组`
    subTitle="现有叶爱君教授，王晓伟教授和17名在读研究生"
    primaryBtn="科研成果"
    primaryBtnURL={getRelativeLocaleUrl("zh", "products")}
    secondaryBtn="联系我们"
    secondaryBtnURL={getRelativeLocaleUrl("zh", "contact")}
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`共计发表 <span class="font-bold">120</span> 篇高质量论文`
    src={bridgeImage}
    alt="日本濑户大桥"
  />

  <ClientsSection
    title="研究成果丰硕"
    subTitle="获得学界广泛认可"
  />

  <FeaturesGeneral
    title="面向新一代韧性桥梁"
    subTitle="响应国家号召，努力建设成为与国际大型桥梁及动力研究前沿接轨的培养高层次人才、开展高水平科学研究和进行高新技术成果转化的国家级重要基地和国际性中心。"
    src={featureImage}
    alt="ScrewFast产品在漂浮的箱子中"
    features={features}
  />

  <FeaturesNavs
    title=`定制 <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span> 的产品以完美满足您的硬件和建筑需求。`
    tabs={[
      {
        heading: "尖端工具",
        content:
          "使用ScrewFast的尖端工具优化您的项目。体验通过我们复杂的自动化解决方案提高施工管理效率。",
        svg: "tools",
        src: tools,
        alt: "黄色和黑色重型设备在棕色草地上",
        first: true,
      },
      {
        heading: "直观仪表板",
        content:
          "使用ScrewFast的直观仪表板轻松导航。无缝设置和监控您的项目，提供友好的界面，旨在高效管理快速有效的工作流程。",
        svg: "dashboard",
        src: dashboard,
        alt: "直观仪表板的屏幕截图或图示",
        second: true,
      },
      {
        heading: "强大功能",
        content:
          "最小化复杂性，最大化生产力。ScrewFast的强大功能旨在简化您的建筑流程，提供卓越的结果。",
        svg: "house",
        src: construction,
        alt: "白天靠近塔吊的灰色金属建筑结构",
      },
    ]}
  />

  <TestimonialsSection
    title="加速您的项目"
    subTitle="在ScrewFast，我们确保快速启动，提供即时账户设置。体验重新定义的施工速度。"
    testimonials={[
      {
        content:
          "ScrewFast显著提高了我们项目的效率。设置是即时的，他们的快速响应时间是惊人的。真的是硬件和建筑支持的游戏规则改变者！",
        author: "萨曼莎·鲁伊斯",
        role: "运营总监 | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "已装备客户 — 从业余爱好者到大型建筑公司",
      },
      {
        count: "35%",
        description:
          "使用ScrewFast工具和服务提高项目效率",
      },
      {
        count: "15.3%",
        description:
          "长期客户报告的维护成本降低",
      },
      {
        count: "2x",
        description:
          "通过创新的固定解决方案实现更快的组装",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="常见问题<br />解答" faqs={faqs} />

  <HeroSectionAlt
    title="让我们一起建设"
    subTitle="ScrewFast是一个开源模型，精心设计，使用Astro、Tailwind CSS和Preline UI框架。"
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
